<div class="transport-loader">
    <div class="road"></div>
    <div class="truck">
        <div class="truck-cabin"></div>
        <div class="truck-body"></div>
        <div class="wheel wheel-front"></div>
        <div class="wheel wheel-back"></div>
    </div>
</div>